Repository espeo/espeo-create-react-app-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn test, yarn audit

.lintstagedrc.json:

{
  "src/**/*.ts": ["yarn lint", "yarn test"],
  "./package.json": ["yarn audit"]
}

Update config.yml
  .circleci/config.yml
Due: none

chore: add circle ci production config
  .circleci/config.yml
  README.md
  package.json
Due: yarn audit

chore: add circle ci production config (#21)
  .circleci/config.yml
  README.md
  package.json
Due: yarn audit

feat: cloneProjectTemplate service
  .eslintignore
  .gitignore
  src/commands/createNewProject.ts
  src/config.ts
  src/helpers/directoryManager.ts
  src/helpers/filesManager.ts
  src/helpers/generateFile.ts
  src/helpers/index.ts
  src/services/cloneProjectTemplate.ts
  src/services/copyAssets.ts
  src/services/generateStore.ts
  src/services/gererateComponent.ts
  src/services/index.ts
  src/services/updateCiFiles.ts
  src/services/updatePackageJson.ts
  src/services/updateStoreConfig.ts
Due: yarn lint, yarn test

v0.2.1
  package.json
Due: yarn audit

v0.2.2
  package.json
Due: yarn audit

feat: compare local and remote packages versions
  .gitignore
  package.json
  src/services/cloneProjectTemplate.ts
  yarn.lock
Due: yarn lint, yarn test, yarn audit

refactor: ignore config files while linting
  .eslintignore
  webpack.config.js
Due: none

feat: prompt version check before each command
  src/commands/createNewProject.ts
  src/commands/generate.ts
  src/decorators/index.ts
  src/decorators/withOutdatedCheck.ts
  src/index.ts
  src/services/installDependencies.ts
Due: yarn lint, yarn test

refactor: get package name from package.json
  package.json
  src/commands/createNewProject.ts
  src/commands/generate.ts
  src/config.ts
  src/decorators/withOutdatedCheck.ts
  yarn.lock
Due: yarn lint, yarn test, yarn audit

refactor: better typings for compose helper
  src/commands/createNewProject.ts
  src/commands/generate.ts
  src/helpers/addReducerToStore.ts
  src/helpers/compose.spec.ts
  src/helpers/compose.ts
  src/services/updatePackageJson.ts
Due: yarn lint, yarn test

Release/0.2.2 (#22)
  package.json
Due: yarn audit

v0.2.3
  package.json
Due: yarn audit

fix: changes to store template
  templates/store/storeConfig.ts
Due: none

fix: changes to store template (#25)
  templates/store/storeConfig.ts
Due: none

fix: filter sagas and epics depending of selected middleware
  src/config.ts
  src/helpers/filterProjectAssets.ts
Due: yarn lint, yarn test

fix: remove comment line
  src/helpers/filterProjectAssets.ts
Due: yarn lint, yarn test

fix: filter sagas and epics depending of selected middleware (#26)
  src/config.ts
  src/helpers/filterProjectAssets.ts
Due: yarn lint, yarn test

chore: freeze lock file on ci
  .circleci/config.yml
  package.json
Due: yarn audit

chore: revert version
  .circleci/config.yml
  package.json
Due: yarn audit

chore: ignore all branches on deploy step
  .circleci/config.yml
Due: none

chore: update readme
  README.md
Due: none

refactor: add tests for withOutdatedCheck decorator
  src/commands/createNewProject.ts
  src/commands/generate.ts
  src/decorators/withOutdatedCheck.spec.ts
  src/decorators/withOutdatedCheck.ts
  src/helpers/exec.ts
Due: yarn lint, yarn test

refactor: add simple DI for commands
  src/commands/createNewProject.ts
  src/commands/generate.spec.ts
  src/commands/generate.ts
  src/decorators/withOutdatedCheck.spec.ts
  src/errors/UnexpectedArgumentError.ts
  src/index.ts
  src/services/cloneProjectTemplate.ts
  src/services/copyAssets.ts
  src/services/generateStore.ts
  src/services/gererateComponent.ts
  src/services/installDependencies.ts
  src/services/updateCiFiles.ts
  src/services/updatePackageJson.ts
  src/services/updateStoreConfig.ts
Due: yarn lint, yarn test

fix: mock exec module for ci
  src/decorators/withOutdatedCheck.spec.ts
  src/helpers/__mocks__/exec.ts
Due: yarn lint, yarn test

fix: setup mocks globaly
  jest.config.js
  src/helpers/__mocks__/exec.ts
  src/jest.setup.ts
Due: yarn lint, yarn test

Chore/notify user about new pkg version (#27)
  README.md
  jest.config.js
  package.json
  src/commands/createNewProject.ts
  src/commands/generate.spec.ts
  src/commands/generate.ts
  src/config.ts
  src/decorators/index.ts
  src/decorators/withOutdatedCheck.spec.ts
  src/decorators/withOutdatedCheck.ts
  src/errors/UnexpectedArgumentError.ts
  src/helpers/__mocks__/exec.ts
  src/helpers/addReducerToStore.ts
  src/helpers/compose.spec.ts
  src/helpers/compose.ts
  src/helpers/exec.ts
  src/index.ts
  src/jest.setup.ts
  src/services/cloneProjectTemplate.ts
  src/services/copyAssets.ts
  src/services/generateStore.ts
  src/services/gererateComponent.ts
  src/services/installDependencies.ts
  src/services/updateCiFiles.ts
  src/services/updatePackageJson.ts
  src/services/updateStoreConfig.ts
  yarn.lock
Due: yarn lint, yarn test, yarn audit

feat: global error handling
  src/commands/createNewProject.ts
  src/commands/generate.spec.ts
  src/commands/generate.ts
  src/index.ts
  src/services/cloneProjectTemplate.ts
  src/services/installDependencies.ts
Due: yarn lint, yarn test

fix: encode paths
  src/commands/__tests__/generate.spec.ts
  src/decorators/__tests__/withOutdatedCheck.spec.ts
  src/helpers/__tests__/addReducerToStore.spec.ts
  src/helpers/__tests__/compose.spec.ts
  src/helpers/__tests__/directoryManager.spec.ts
  src/helpers/__tests__/filterProjectAssets.spec.ts
  src/helpers/__tests__/packageJson.spec.ts
  src/helpers/directoryManager.ts
  src/services/cloneProjectTemplate.ts
Due: yarn lint, yarn test

Fix/paths escaping (#28)
  src/commands/__tests__/generate.spec.ts
  src/commands/createNewProject.ts
  src/commands/generate.ts
  src/decorators/__tests__/withOutdatedCheck.spec.ts
  src/helpers/__tests__/addReducerToStore.spec.ts
  src/helpers/__tests__/compose.spec.ts
  src/helpers/__tests__/directoryManager.spec.ts
  src/helpers/__tests__/filterProjectAssets.spec.ts
  src/helpers/__tests__/packageJson.spec.ts
  src/helpers/directoryManager.ts
  src/index.ts
  src/services/cloneProjectTemplate.ts
  src/services/installDependencies.ts
Due: yarn lint, yarn test

refactor: configure coverage report
  .circleci/config.yml
  .gitignore
  README.md
  jest.config.js
  package.json
  yarn.lock
Due: yarn audit

refactor: add tests for package json manager
  src/helpers/__tests__/packageJson.spec.ts
Due: yarn lint, yarn test

refactor: add tests for generate file
  src/__mocks__/consolidate.ts
  src/__mocks__/fs.ts
  src/__mocks__/mkdirp.ts
  src/commands/__tests__/generate.spec.ts
  src/commands/createNewProject.ts
  src/commands/generate.ts
  src/errors/TemplateDoesNotExistsError.ts
  src/errors/UnexpectedArgumentError.ts
  src/errors/UnexpectedArgumentsError.ts
  src/errors/index.ts
  src/helpers/__tests__/directoryManager.spec.ts
  src/helpers/__tests__/generateFile.spec.ts
  src/helpers/directoryManager.ts
  src/helpers/generateFile.ts
  src/jest.setup.ts
  src/services/copyAssets.ts
  src/services/updateCiFiles.ts
  src/services/updatePackageJson.ts
  src/services/updateStoreConfig.ts
Due: yarn lint, yarn test

refactor: add tests for generate command
  .circleci/config.yml
  src/commands/__tests__/generate.spec.ts
  src/commands/generate.ts
  src/helpers/__tests__/generateFile.spec.ts
  src/services/generateStore.ts
  src/services/gererateComponent.ts
Due: yarn lint, yarn test

Refactor/add unit tests (#29)
  .circleci/config.yml
  .gitignore
  README.md
  jest.config.js
  package.json
  src/__mocks__/consolidate.ts
  src/__mocks__/fs.ts
  src/__mocks__/mkdirp.ts
  src/commands/__tests__/generate.spec.ts
  src/commands/createNewProject.ts
  src/commands/generate.ts
  src/errors/TemplateDoesNotExistsError.ts
  src/errors/UnexpectedArgumentError.ts
  src/errors/UnexpectedArgumentsError.ts
  src/errors/index.ts
  src/helpers/__tests__/directoryManager.spec.ts
  src/helpers/__tests__/generateFile.spec.ts
  src/helpers/__tests__/packageJson.spec.ts
  src/helpers/directoryManager.ts
  src/helpers/generateFile.ts
  src/jest.setup.ts
  src/services/copyAssets.ts
  src/services/generateStore.ts
  src/services/gererateComponent.ts
  src/services/updateCiFiles.ts
  src/services/updatePackageJson.ts
  src/services/updateStoreConfig.ts
  yarn.lock
Due: yarn lint, yarn test, yarn audit
